extends layout 

block content
  .w3-bar.w3-black.w3-border.w3-border.white.w3-large
    .w3-margin-left
      a.w3-bar-item.w3-button(href="/rrd") Página Inicial
      a.w3-bar-item.w3-button(href="/rrd/recursos") Recursos
      .w3-dropdown-hover
        button.w3-button Tipos de Recursos
        .w3-dropdown-content.w3-bar-block.w3-card-4
          each t in tipos
            a.w3-bar-item.w3-button(href="/rrd?tipo=" + t)= t
      form(action='/rrd/search' method='POST')
        input.w3-input.w3-bar-item.w3-black.w3-border-right.w3-border-left.w3-border-white(size='13' type='text' placeholder='Pesquisar recurso' name='search')
        button.w3-bar-item.w3-button(type='submit')
          i.fa.fa-search
      a.w3-bar-item.w3-button(href="/rrd/avisos") Avisos
      if level == "Administrador"
        a.w3-bar-item.w3-button(href="/rrd/users") Utilizadores
      if level == "Administrador"
        a.w3-bar-item.w3-button(href="/rrd/logs") Logs
      a.w3-bar-item.w3-button(href="/rrd/perfil") Meu perfil
      a.w3-bar-item.w3-button(href="/rrd/logout") Logout

  .w3-container.w3-margin-left
    h2
      b Editar recurso
    form.w3-container(action=`/rrd/recursos/alterar/${file._id}` method='POST')
      label Título
      input.w3-input.w3-border(type="text" name="titulo" value=`${file.titulo}` required)
      label Criador
      input.w3-input.w3-border(type="text" name="criador" value=`${file.criador}` required)
      label Utilizador
      input.w3-input.w3-border(type="text" name="utilizador" value=`${file.utilizador}` required)
      label Data de criação
      input.w3-input.w3-border(type="text" name="data_criacao" value=`${file.data_criacao}` required)
      label Data de submissão
      input.w3-input.w3-border(type="text" name="data_submissao" value=`${file.data_submissao}` required)
      label Descrição
      input.w3-input.w3-border(type="text" name="descricao" value=`${file.descricao}` required)
      input.w3-button.w3-round.w3-margin-top.w3-margin-right.w3-green.w3-hover-green(type='submit' value='Guardar')
      input.w3-button.w3-round.w3-margin-top.w3-red.w3-hover-red(type='reset' value='Limpar')
