extends layout 

block content

  .w3-bar.w3-black.w3-border.w3-border.white.w3-large
    .w3-margin-left
      a.w3-bar-item.w3-button(href="/rrd") Página Inicial
      a.w3-bar-item.w3-button(href="/rrd/recursos") Recursos
      .w3-dropdown-hover
        button.w3-button Tipos de Recursos
        .w3-dropdown-content.w3-bar-block.w3-card-4
          each t in tipos
            a.w3-bar-item.w3-button(href="/rrd?tipo=" + t)= t
      form(action='/rrd/search' method='POST')
        input.w3-input.w3-bar-item.w3-black.w3-border-right.w3-border-left.w3-border-white(size='13' type='text' placeholder='Pesquisar recurso' name='search')
        button.w3-bar-item.w3-button(type='submit')
          i.fa.fa-search
      a.w3-bar-item.w3-button(href="/rrd/avisos") Avisos
      if level == "Administrador"
        a.w3-bar-item.w3-button(href="/rrd/users") Utilizadores
      if level == "Administrador"
        a.w3-bar-item.w3-button(href="/rrd/logs") Logs
      a.w3-bar-item.w3-button(href="/rrd/perfil") Meu perfil
      a.w3-bar-item.w3-button(href="/rrd/logout") Logout
            
  .w3-container.w3-margin-left
    h2
      b Recursos
    table.w3-table.w3-white.w3-hoverable
      thead
        tr
          td.w3-center
            h5
              b Título
          td.w3-center
            h5
              b Ficheiro
          td.w3-center
            h5
              b Tipo
          td.w3-center
            h5
              b Nº Ficheiros
          td.w3-center
            h5
              b Tamanho
          td.w3-center
            h5
              b Utilizador
          td.w3-center
            h5
              b Data de criação
          td.w3-center
            h5
              b Data de submissão
      each f in files
        tr
          td.w3-center= f.titulo
          td.w3-center= f.nome
          td.w3-center= f.tipo
          td.w3-center= f.ficheiros.length
          td.w3-center #{f.tamanho} bytes
          td.w3-center= f.utilizador
          td.w3-center= f.data_criacao 
          td.w3-center= f.data_submissao
          td.w3-center
              a.w3-button.w3-round.w3-padding-small.w3-blue.w3-hover-blue(href="/rrd/recursos/" + f._id) Detalhes
          td.w3-center
              a.w3-button.w3-round.w3-padding-small.w3-green.w3-hover-green(href="/rrd/recursos/download/" + f._id) Download
          if (level == "Administrador" || f.utilizador == u)
            td.w3-center
                a.w3-button.w3-round.w3-padding-small.w3-yellow.w3-hover-yellow(href="/rrd/recursos/editar/" + f._id) Editar
            td.w3-center
                a.w3-button.w3-round.w3-padding-small.w3-red.w3-hover-red(href="/rrd/recursos/delete/" + f._id) Eliminar